<ion-view title="Jogos" id="page2" style="">
  <ion-content padding="true" class="has-header">
    

    <ion-list id="jogos-list2" ng-repeat="jogo in jogos"  >
      <div class="item item-body" id="jogos-list-item-container1" style="">
        <div id="jogos-markdown2" class="show-list-numbers-and-dots">

        </div>
        <ion-list id="jogos-list4">
          <ion-card>
      <img src="http://esffpap.xyz/teste/imagens/jogos/{{jogo.capa}}"/>
      <ion-card-content>
        <ion-card-title>
          {{jogo.titulo}}
          </ion-card-title>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat similique unde aut doloremque veniam repellat mollitia iure laudantium veritatis voluptatem culpa autem sequi officiis placeat voluptates, nemo consectetur minus. Ducimus!
        </p>
      </ion-card-content>
    </ion-card>
    </ion-list>
  


















  </ion-content>
</ion-view>