<ion-view title="Jogos" id="page2" style="">
  <ion-content padding="true" class="has-header">
    

   <ion-list can-swipe="myswipe" ng-repeat="jogo in jogos"  >

      <ion-item ng-click="dadosJogo(jogo.id)">
      <div style="margin: 0px; background-color: rgb(232, 235, 239); text-align: center;">
<img src="http://esffpap.xyz/teste/imagens/jogos/{{jogo.capa}}" style="width:100%">
      </div>
      <h2>{{jogo.titulo}}</h2>
      <p>{{jogo.publicadora}}</p>
 
    </ion-item>




    </ion-list>
      <ion-infinite-scroll
          ng-show="paginacao"
          icon="ion-loading-c"  
          on-infinite="loadMore()"
          distance="80%">
</ion-infinite-scroll>

  </ion-content>
</ion-view>